body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5521 {
  position:fixed;
  right:12px;
  bottom:12px;
  width:81px;
  height:81px;
  overflow:hidden;
}
#u5521_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5521_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u5522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u5522_img.selected {
}
#u5522.selected {
}
#u5523 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u5524 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:29px;
  width:40px;
  height:23px;
  color:#993300;
}
#u5524_img.selected {
}
#u5524.selected {
}
#u5525 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5527 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
}
#u5529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1024px;
  height:80px;
  opacity:0.05;
}
#u5530 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5531 {
  position:fixed;
  left:50%;
  margin-left:-512.5px;
  top:0px;
  width:1025px;
  height:81px;
  overflow:hidden;
}
#u5531_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/产品介绍/u5069_state0.jpg');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:2px 80px;
}
#u5531_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:81px;
}
#u5532 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:80px;
}
#u5532_img.selected {
}
#u5532.selected {
}
#u5533 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:76px;
}
#u5534 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:75px;
}
#u5535 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5536 {
  position:fixed;
  left:50%;
  margin-left:-512.5px;
  top:0px;
}
#u5536_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
  background-image:none;
}
#u5536_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
}
#u5537 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:80px;
}
#u5537_img.selected {
}
#u5537.selected {
}
#u5538 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:76px;
}
#u5539 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:75px;
}
#u5540 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u5541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:75px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5542 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u5543 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u5544 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:13px;
  width:140px;
  height:50px;
}
#u5545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u5546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u5546 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:13px;
  width:13px;
  height:50px;
}
#u5547 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:76px;
}
.u5549 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
  font-size:16px;
  color:#FFFFFF;
}
.u5549_img.selected {
}
.u5549.selected {
}
.u5550 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:121px;
  word-wrap:break-word;
}
#u5548-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
}
#u5548-2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:75px;
}
#u5548-3 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:75px;
}
#u5548-4 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:125px;
  height:75px;
}
#u5548 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:500px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u5551 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:62px;
  width:31px;
  height:15px;
}
#u5551_img.selected {
}
#u5551.selected {
}
#u5552 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5553 {
  position:absolute;
  left:200px;
  top:80px;
  visibility:hidden;
}
#u5553_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:126px;
  height:361px;
  background-image:none;
}
#u5553_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u5555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
.u5555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  color:#FFFFFF;
}
.u5555_img.mouseOver {
}
.u5555.mouseOver {
}
.u5555_img.selected {
}
.u5555.selected {
}
.u5556 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u5554-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u5554-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
}
#u5554-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:125px;
  height:40px;
}
#u5554-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:125px;
  height:40px;
}
#u5554-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:125px;
  height:40px;
}
#u5554-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:125px;
  height:40px;
}
#u5554-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:125px;
  height:40px;
}
#u5554-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:125px;
  height:40px;
}
#u5554-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:125px;
  height:40px;
}
#u5554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5557 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:161px;
  width:100px;
  height:60px;
}
#u5558 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5559 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:265px;
  width:100px;
  height:60px;
}
#u5560 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5561 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:369px;
  width:100px;
  height:60px;
}
#u5562 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5563 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:221px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5563_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u5563_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u5564 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5565 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:325px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5565_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u5565_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u5566 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5567 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:473px;
  width:100px;
  height:60px;
}
#u5568 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5569 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:429px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5569_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u5569_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u5570 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u5571 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:399px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5571_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u5571_seg1 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:-212px;
  width:8px;
  height:216px;
}
#u5571_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-212px;
  width:64px;
  height:8px;
}
#u5571_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-217px;
  width:19px;
  height:18px;
}
#u5572 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-112px;
  width:100px;
  word-wrap:break-word;
}
#u5573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5573 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:578px;
  width:100px;
  height:60px;
}
#u5574 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5573_ann {
  border-width:0px;
  position:absolute;
  left:556px;
  top:574px;
  width:1px;
  height:1px;
}
#u5575 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:533px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5575_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u5575_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u5576 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5577 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:682px;
  width:100px;
  height:60px;
}
#u5578 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5579 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:638px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5579_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u5579_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u5580 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5581 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:712px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5581_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u5581_seg1 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-525px;
  width:8px;
  height:529px;
}
#u5581_seg2 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-525px;
  width:64px;
  height:8px;
}
#u5581_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-530px;
  width:19px;
  height:18px;
}
#u5582 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-268px;
  width:100px;
  word-wrap:break-word;
}
#u5583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5583 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:786px;
  width:100px;
  height:60px;
}
#u5584 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5585 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:742px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5585_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u5585_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u5586 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u5587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u5587 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:890px;
  width:100px;
  height:60px;
}
#u5588 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5589 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:846px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5589_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u5589_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u5590 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
