body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1870px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u455 {
  position:fixed;
  right:12px;
  bottom:12px;
  width:81px;
  height:81px;
  overflow:hidden;
}
#u455_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u455_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u456_img.selected {
}
#u456.selected {
}
#u457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:29px;
  width:40px;
  height:23px;
  color:#993300;
}
#u458_img.selected {
}
#u458.selected {
}
#u459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1024px;
  height:80px;
  opacity:0.05;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465 {
  position:fixed;
  left:50%;
  margin-left:-512.5px;
  top:0px;
  width:1025px;
  height:81px;
  overflow:hidden;
}
#u465_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/产品介绍/u33_state0.jpg');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:2px 80px;
}
#u465_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:81px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:80px;
}
#u466_img.selected {
}
#u466.selected {
}
#u467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:76px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:75px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  position:fixed;
  left:50%;
  margin-left:-512.5px;
  top:0px;
}
#u470_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
  background-image:none;
}
#u470_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:80px;
}
#u471_img.selected {
}
#u471.selected {
}
#u472 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:76px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:75px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:75px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:13px;
  width:140px;
  height:50px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:13px;
  width:13px;
  height:50px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
.u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:76px;
}
.u483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
  font-size:16px;
  color:#FFFFFF;
}
.u483_img.selected {
}
.u483.selected {
}
.u484 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:121px;
  word-wrap:break-word;
}
#u482-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
}
#u482-2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:75px;
}
#u482-3 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:75px;
}
#u482-4 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:125px;
  height:75px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:500px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:62px;
  width:31px;
  height:15px;
}
#u485_img.selected {
}
#u485.selected {
}
#u486 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487 {
  position:absolute;
  left:200px;
  top:80px;
  visibility:hidden;
}
#u487_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:126px;
  height:361px;
  background-image:none;
}
#u487_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
.u489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  color:#FFFFFF;
}
.u489_img.mouseOver {
}
.u489.mouseOver {
}
.u489_img.selected {
}
.u489.selected {
}
.u490 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u488-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u488-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
}
#u488-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:125px;
  height:40px;
}
#u488-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:125px;
  height:40px;
}
#u488-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:125px;
  height:40px;
}
#u488-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:125px;
  height:40px;
}
#u488-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:125px;
  height:40px;
}
#u488-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:125px;
  height:40px;
}
#u488-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:125px;
  height:40px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:161px;
  width:100px;
  height:60px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:266px;
  width:100px;
  height:60px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:221px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u496_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u496_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:326px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u498_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u498_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:370px;
  width:100px;
  height:60px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:370px;
  width:100px;
  height:60px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:480px;
  width:100px;
  height:60px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:430px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u506_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u506_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:480px;
  width:100px;
  height:60px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:590px;
  width:100px;
  height:60px;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:590px;
  width:100px;
  height:60px;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:540px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u514_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u514_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:700px;
  width:100px;
  height:60px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:700px;
  width:100px;
  height:60px;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u520 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:650px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u520_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u520_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u521 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:400px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u522_seg0 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-4px;
  width:44px;
  height:8px;
}
#u522_seg1 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-108px;
  width:8px;
  height:112px;
}
#u522_seg2 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:-108px;
  width:44px;
  height:8px;
}
#u522_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-113px;
  width:19px;
  height:18px;
}
#u523 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-60px;
  width:100px;
  word-wrap:break-word;
}
#u524 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:400px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u524_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u524_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-9px;
  width:19px;
  height:18px;
}
#u525 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u526 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:510px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u526_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u526_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u527 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u528 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:510px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u528_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u528_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-114px;
  width:8px;
  height:118px;
}
#u528_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-114px;
  width:24px;
  height:8px;
}
#u528_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-119px;
  width:19px;
  height:18px;
}
#u529 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
}
#u530 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:620px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u530_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u530_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u531 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u532 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:620px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u532_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u532_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-114px;
  width:8px;
  height:118px;
}
#u532_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-114px;
  width:24px;
  height:8px;
}
#u532_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-119px;
  width:19px;
  height:18px;
}
#u533 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
}
#u534 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:730px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u534_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u534_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u536 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:730px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u536_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u536_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-114px;
  width:8px;
  height:118px;
}
#u536_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-114px;
  width:24px;
  height:8px;
}
#u536_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-119px;
  width:19px;
  height:18px;
}
#u537 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
}
#u538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u538 {
  border-width:0px;
  position:absolute;
  left:980px;
  top:810px;
  width:100px;
  height:60px;
}
#u539 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u540 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:760px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u540_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u540_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u541 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:840px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u542_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u542_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-114px;
  width:8px;
  height:118px;
}
#u542_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-114px;
  width:24px;
  height:8px;
}
#u542_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-119px;
  width:19px;
  height:18px;
}
#u543 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
}
#u544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u544 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:810px;
  width:100px;
  height:60px;
}
#u545 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u546 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:840px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u546_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u546_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u548 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:920px;
  width:100px;
  height:60px;
}
#u549 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:870px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u550_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u550_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:950px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u552_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u552_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-114px;
  width:8px;
  height:118px;
}
#u552_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-114px;
  width:24px;
  height:8px;
}
#u552_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-119px;
  width:19px;
  height:18px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
}
#u554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:920px;
  width:100px;
  height:60px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:950px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u556_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u556_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:1030px;
  width:100px;
  height:60px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:980px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u560_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u560_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:1060px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u562_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u562_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-114px;
  width:8px;
  height:118px;
}
#u562_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-114px;
  width:24px;
  height:8px;
}
#u562_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-119px;
  width:19px;
  height:18px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:1570px;
  top:1030px;
  width:100px;
  height:60px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:1480px;
  top:1060px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u566_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u566_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-9px;
  width:19px;
  height:18px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:1570px;
  top:1140px;
  width:100px;
  height:60px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:1620px;
  top:1090px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u570_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u570_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:1670px;
  top:1170px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u572_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u572_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:1670px;
  top:1170px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u574_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u574_seg1 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-114px;
  width:8px;
  height:118px;
}
#u574_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-114px;
  width:24px;
  height:8px;
}
#u574_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-119px;
  width:19px;
  height:18px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-63px;
  width:100px;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:1770px;
  top:1140px;
  width:100px;
  height:60px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
