body {
  margin:0px;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
  position:static;
  left:auto;
  width:725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1329 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u1329_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1329_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1330_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1340_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:168px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:92px;
  width:293px;
  height:167px;
  line-height:28px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u1344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:460px;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:134px;
  width:375px;
  height:459px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:41px;
  width:19px;
  height:21px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:37px;
  width:7px;
  height:7px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:23px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:42px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:59px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:375px;
  height:58px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:105px;
  width:23px;
  height:23px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:84px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:84px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:84px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:84px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:84px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:84px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:84px;
  width:13px;
  height:15px;
  font-size:12px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:109px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:109px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:109px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:109px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:109px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:105px;
  width:23px;
  height:23px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:109px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:192px;
  width:375px;
  height:1px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:144px;
  width:43px;
  height:16px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:167px;
  width:162px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:167px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:375px;
  height:1px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:210px;
  width:29px;
  height:16px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:233px;
  width:162px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:233px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:323px;
  width:375px;
  height:1px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:275px;
  width:29px;
  height:16px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:298px;
  width:162px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:298px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:385px;
  width:375px;
  height:1px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:337px;
  width:29px;
  height:16px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:360px;
  width:162px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:360px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:447px;
  width:375px;
  height:1px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:399px;
  width:29px;
  height:16px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:422px;
  width:162px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:422px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u1424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:509px;
  width:375px;
  height:1px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:461px;
  width:29px;
  height:16px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:484px;
  width:162px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u1430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:484px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u1432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:45px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:109px;
  width:15px;
  height:15px;
  font-size:12px;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:144px;
  width:30px;
  height:17px;
  font-size:11px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:210px;
  width:30px;
  height:17px;
  font-size:11px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:274px;
  width:30px;
  height:17px;
  font-size:11px;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:337px;
  width:30px;
  height:17px;
  font-size:11px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:398px;
  width:42px;
  height:17px;
  font-size:11px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u1446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:460px;
  width:42px;
  height:17px;
  font-size:11px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
