body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1962 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u1962_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1962_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u1963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1964 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u1966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:484px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:71px;
  width:375px;
  height:483px;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:234px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:133px;
  width:375px;
  height:1px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:85px;
  width:43px;
  height:16px;
}
#u1980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u1981 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:108px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1983 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:108px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u1985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:199px;
  width:375px;
  height:1px;
}
#u1986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1987 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:151px;
  width:29px;
  height:16px;
}
#u1988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u1989 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:174px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1991 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:174px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u1993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:264px;
  width:375px;
  height:1px;
}
#u1994 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1995 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:216px;
  width:29px;
  height:16px;
}
#u1996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u1997 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:239px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u1999 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:239px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u2001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:375px;
  height:1px;
}
#u2002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2003 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:278px;
  width:29px;
  height:16px;
}
#u2004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u2005 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:301px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u2007 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:301px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u2009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:388px;
  width:375px;
  height:1px;
}
#u2010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2011 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:340px;
  width:29px;
  height:16px;
}
#u2012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u2013 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:363px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2014 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u2015 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:363px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u2017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:375px;
  height:1px;
}
#u2018 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2019 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:402px;
  width:29px;
  height:16px;
}
#u2020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:16px;
}
#u2021 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:425px;
  width:161px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2022 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u2023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
}
#u2023 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:425px;
  width:142px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u2026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u2026 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:40px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u2027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:375px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u2029 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:39px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u2031 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:39px;
  width:22px;
  height:22px;
}
#u2032 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
