body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1207px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6811 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u6811_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6811_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6813 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u6815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u6815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u6817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u6818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u6819 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u6820 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6821 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u6822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u6823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u6824 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:37px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u6825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:598px;
}
#u6826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:597px;
}
#u6827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:55px;
}
#u6828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:54px;
}
#u6829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u6830 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:86px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#BBBBBB;
}
#u6831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u6832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:41px;
}
#u6832 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:156px;
  width:343px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u6833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u6835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u6835 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:41px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u6836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u6837 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:40px;
  width:43px;
  height:16px;
  color:#0000FF;
}
#u6838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6839 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:41px;
  width:100px;
  height:60px;
}
#u6840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u6841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u6841 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:199px;
  width:100px;
  height:45px;
}
#u6842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u6843 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:101px;
  width:0px;
  height:0px;
}
#u6843_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:102px;
}
#u6843_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:85px;
  width:18px;
  height:19px;
}
#u6844 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u6845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u6845 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:48px;
  width:100px;
  height:45px;
}
#u6846 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u6847 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:71px;
  width:0px;
  height:0px;
}
#u6847_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u6847_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-9px;
  width:19px;
  height:18px;
}
#u6848 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u6849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:75px;
}
#u6849 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:34px;
  width:123px;
  height:74px;
}
#u6850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u6851 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:71px;
  width:0px;
  height:0px;
}
#u6851_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u6851_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-9px;
  width:19px;
  height:18px;
}
#u6852 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u6853 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:172px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u6854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u6855 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:108px;
  width:0px;
  height:0px;
}
#u6855_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u6855_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:51px;
  width:18px;
  height:19px;
}
#u6856 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u6857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u6857 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:41px;
  width:100px;
  height:60px;
}
#u6858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u6859 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:71px;
  width:0px;
  height:0px;
}
#u6859_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:128px;
  height:8px;
}
#u6859_seg1 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-9px;
  width:19px;
  height:18px;
}
#u6860 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
