body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1207px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u7686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u7687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u7688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u7689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u7690 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u7691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u7693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u7694 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u7695 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:37px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u7696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:598px;
}
#u7697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:597px;
}
#u7698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:290px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:55px;
}
#u7699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:375px;
  height:54px;
}
#u7700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u7701 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:86px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#BBBBBB;
}
#u7702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u7703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:41px;
}
#u7703 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:156px;
  width:343px;
  height:40px;
  font-size:12px;
  color:#FFFFFF;
}
#u7704 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u7706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u7706 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:41px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u7707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u7708 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:40px;
  width:43px;
  height:16px;
  color:#0000FF;
}
#u7709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u7710 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:41px;
  width:100px;
  height:60px;
}
#u7711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u7712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u7712 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:199px;
  width:100px;
  height:45px;
}
#u7713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7714 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:101px;
  width:0px;
  height:0px;
}
#u7714_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:102px;
}
#u7714_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:85px;
  width:18px;
  height:19px;
}
#u7715 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u7716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:46px;
}
#u7716 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:48px;
  width:100px;
  height:45px;
}
#u7717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u7718 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:71px;
  width:0px;
  height:0px;
}
#u7718_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u7718_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-9px;
  width:19px;
  height:18px;
}
#u7719 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u7720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:75px;
}
#u7720 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:34px;
  width:123px;
  height:74px;
}
#u7721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:119px;
  word-wrap:break-word;
}
#u7722 {
  border-width:0px;
  position:absolute;
  left:769px;
  top:71px;
  width:0px;
  height:0px;
}
#u7722_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u7722_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-9px;
  width:19px;
  height:18px;
}
#u7723 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u7724 {
  border-width:0px;
  position:absolute;
  left:848px;
  top:172px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u7725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u7726 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:108px;
  width:0px;
  height:0px;
}
#u7726_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u7726_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:51px;
  width:18px;
  height:19px;
}
#u7727 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  word-wrap:break-word;
}
#u7728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u7728 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:41px;
  width:100px;
  height:60px;
}
#u7729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u7730 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:71px;
  width:0px;
  height:0px;
}
#u7730_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:128px;
  height:8px;
}
#u7730_seg1 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-9px;
  width:19px;
  height:18px;
}
#u7731 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u7733 {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u7733_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7733_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u7734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u7735 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:166px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:83px 38px;
  -ms-transform-origin:83px 38px;
  -moz-transform-origin:83px 38px;
  -webkit-transform-origin:83px 38px;
}
