body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2969 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u2969_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2969_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u2973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:599px;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:70px;
  width:375px;
  height:598px;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:37px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:41px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:439px;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:85px;
  width:345px;
  height:438px;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:211px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:17px;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:97px;
  width:4px;
  height:16px;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:97px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:96px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:136px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:175px;
  width:29px;
  height:16px;
  color:#666666;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:213px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:291px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:410px;
  width:85px;
  height:16px;
  color:#666666;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:136px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:491px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:162px;
  width:305px;
  height:1px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:201px;
  width:305px;
  height:1px;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:280px;
  width:305px;
  height:1px;
}
#u3015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:317px;
  width:305px;
  height:1px;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3018 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:439px;
  width:305px;
  height:1px;
}
#u3019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u3020 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:173px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u3022 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:215px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u3024 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:291px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u3026 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:410px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u3028 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:492px;
  width:43px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u3030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:452px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:478px;
  width:305px;
  height:1px;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:452px;
  width:43px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:37px;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:533px;
  width:345px;
  height:36px;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:542px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:543px;
  width:43px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u3043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:439px;
  width:305px;
  height:1px;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:331px;
  width:43px;
  height:16px;
  color:#666666;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:357px;
  width:305px;
  height:1px;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:331px;
  width:43px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u3051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:252px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:241px;
  width:305px;
  height:1px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:252px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:368px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:394px;
  width:305px;
  height:1px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:368px;
  width:43px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u3063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:36px;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:609px;
  width:344px;
  height:35px;
  color:#666666;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:340px;
  word-wrap:break-word;
}
#u3063_ann {
  border-width:0px;
  position:absolute;
  left:354px;
  top:605px;
  width:1px;
  height:1px;
}
#u3065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:37px;
  width:6px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3067 {
  position:absolute;
  left:264px;
  top:68px;
  visibility:hidden;
}
#u3067_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:101px;
  height:121px;
  background-image:none;
}
#u3067_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
}
#u3071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u3072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
}
#u3073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u3074 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:30px;
  width:55px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3074_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:26px;
  width:1px;
  height:1px;
}
