body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:809px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u6255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6256 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u6257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u6258 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u6259 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u6260 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u6262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u6263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:599px;
}
#u6264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:375px;
  height:598px;
}
#u6265 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:89px;
}
#u6266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:375px;
  height:88px;
}
#u6267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u6268 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:37px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u6269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u6270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u6270 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:40px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u6271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
}
#u6272 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:146px;
  width:101px;
  height:16px;
  color:#000000;
}
#u6273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u6274 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:39px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u6275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u6276 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:267px;
  width:120px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u6277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u6278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u6278 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:187px;
  width:155px;
  height:16px;
  color:#000000;
}
#u6279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u6280 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:172px;
  width:345px;
  height:1px;
}
#u6281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:2px;
}
#u6282 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:216px;
  width:345px;
  height:1px;
}
#u6283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:44px;
}
#u6284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:74px;
  width:375px;
  height:43px;
}
#u6285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6286 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:78px;
  width:323px;
  height:35px;
}
#u6286_input {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6286_input {
  font-family:'Arial';
}
#u6287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6287 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:146px;
  width:9px;
  height:16px;
  color:#000000;
}
#u6288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u6290 {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u6290_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6290_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u6291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6292 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:166px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:83px 38px;
  -ms-transform-origin:83px 38px;
  -moz-transform-origin:83px 38px;
  -webkit-transform-origin:83px 38px;
}
