body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2107 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u2107_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2107_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u2111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u2118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u2119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:498px;
}
#u2120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:253px;
  width:375px;
  height:497px;
}
#u2121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:240px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u2122 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:40px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u2123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:177px;
}
#u2124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:375px;
  height:176px;
}
#u2125 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:80px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:17px;
}
#u2126 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:126px;
  width:183px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u2128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:23px;
}
#u2128 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:90px;
  width:206px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u2129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u2130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:17px;
}
#u2130 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:155px;
  width:155px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u2131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:191px;
  width:20px;
  height:20px;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:216px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:191px;
  width:23px;
  height:20px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:216px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:191px;
  width:20px;
  height:20px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:216px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:43px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_ann {
  border-width:0px;
  position:absolute;
  left:13px;
  top:53px;
  width:1px;
  height:1px;
}
#u2150 {
  position:fixed;
  left:22px;
  top:50%;
  margin-top:-78px;
  visibility:hidden;
}
#u2150_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:156px;
  background-image:none;
}
#u2150_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:156px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:155px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:24px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:57px;
  width:146px;
  height:19px;
  font-size:16px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:335px;
  height:1px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:122px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:122px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:2px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:130px;
  width:48px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:335px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2150_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:156px;
  visibility:hidden;
  background-image:none;
}
#u2150_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:156px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:155px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:24px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:20px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:56px;
  width:146px;
  height:19px;
  font-size:16px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:335px;
  height:1px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:122px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:122px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:2px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:130px;
  width:48px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:335px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:26px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:37px;
  width:6px;
  height:25px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183 {
  position:absolute;
  left:264px;
  top:68px;
  visibility:hidden;
}
#u2183_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:101px;
  height:121px;
  background-image:none;
}
#u2183_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:40px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:41px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:100px;
  height:40px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:30px;
  width:55px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2190_ann {
  border-width:0px;
  position:absolute;
  left:368px;
  top:26px;
  width:1px;
  height:1px;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:203px;
  width:73px;
  height:16px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:691px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:716px;
  width:229px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:375px;
  height:1px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:396px;
  width:375px;
  height:1px;
}
#u2201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:375px;
  height:1px;
}
#u2203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:375px;
  height:1px;
}
#u2205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:536px;
  width:375px;
  height:1px;
}
#u2207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2210 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:270px;
  width:40px;
  height:40px;
}
#u2211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u2212 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:281px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:24px;
}
#u2214 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:279px;
  width:30px;
  height:23px;
}
#u2215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2216 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:282px;
  width:43px;
  height:16px;
  color:#CCCCCC;
}
#u2217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2219 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:342px;
  width:40px;
  height:40px;
}
#u2220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u2221 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:353px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u2223 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:347px;
  width:18px;
  height:30px;
  color:#999999;
}
#u2224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2226 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:411px;
  width:40px;
  height:40px;
}
#u2227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u2228 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:422px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u2230 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:416px;
  width:18px;
  height:30px;
  color:#999999;
}
#u2231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:482px;
  width:40px;
  height:40px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:493px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:487px;
  width:18px;
  height:30px;
  color:#999999;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:553px;
  width:40px;
  height:40px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u2242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
}
#u2242 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:564px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u2243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:31px;
}
#u2244 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:558px;
  width:18px;
  height:30px;
  color:#999999;
}
#u2245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u2246 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:354px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u2247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2248 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:254px;
  width:375px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:326px;
  width:375px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:396px;
  width:375px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:466px;
  width:375px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2252 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:537px;
  width:375px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:41px;
}
#u2253 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:630px;
  width:344px;
  height:40px;
  color:#666666;
}
#u2254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:340px;
  word-wrap:break-word;
}
#u2253_ann {
  border-width:0px;
  position:absolute;
  left:353px;
  top:626px;
  width:1px;
  height:1px;
}
#u2255 {
  position:fixed;
  left:22px;
  top:50%;
  margin-top:-78px;
  visibility:hidden;
}
#u2255_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:156px;
  background-image:none;
}
#u2255_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:156px;
}
#u2256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:155px;
}
#u2257 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:20px;
}
#u2258 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:27px;
  width:145px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
}
#u2260 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:63px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u2261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u2262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:335px;
  height:1px;
}
#u2263 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2264 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:122px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u2265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u2266 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:122px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u2267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u2268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:2px;
}
#u2268 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:130px;
  width:48px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:335px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u2271 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:276px;
  width:1px;
  height:16px;
  font-size:12px;
  color:#999999;
}
#u2272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
