body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u6750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u6752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u6753 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u6754 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u6755 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u6757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u6758 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:599px;
}
#u6759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:375px;
  height:598px;
}
#u6760 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u6761 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:35px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u6762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u6763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u6763 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:37px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u6764 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:17px;
}
#u6765 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:37px;
  width:63px;
  height:16px;
  color:#0000FF;
  text-align:right;
}
#u6766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u6765_ann {
  border-width:0px;
  position:absolute;
  left:351px;
  top:33px;
  width:1px;
  height:1px;
}
#u6767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:43px;
}
#u6767 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:87px;
  width:349px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:22px;
}
#u6768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  white-space:nowrap;
}
#u6769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u6769 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:139px;
  width:127px;
  height:16px;
  color:#999999;
}
#u6770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u6771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u6771 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:139px;
  width:75px;
  height:16px;
  color:#999999;
}
#u6772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u6773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u6773 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:89px;
  width:33px;
  height:19px;
  font-size:12px;
}
#u6774 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u6775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:2px;
}
#u6775 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:167px;
  width:344px;
  height:1px;
}
#u6776 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:17px;
}
#u6777 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:178px;
  width:141px;
  height:16px;
  color:#999999;
}
#u6778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u6779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:443px;
}
#u6779 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:205px;
  width:345px;
  height:442px;
  line-height:22px;
}
#u6780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u6781 {
  border-width:0px;
  position:absolute;
  left:117px;
  top:178px;
  width:148px;
  height:44px;
  overflow:hidden;
  visibility:hidden;
}
#u6781_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6781_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6782 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:9px;
  height:16px;
}
#u6783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6784 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:54px;
  width:9px;
  height:16px;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u6787 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u6781_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:44px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6781_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:9px;
  height:16px;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6790 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:54px;
  width:9px;
  height:16px;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u6795 {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u6795_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6795_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6797 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:166px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:83px 38px;
  -ms-transform-origin:83px 38px;
  -moz-transform-origin:83px 38px;
  -webkit-transform-origin:83px 38px;
}
