body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7109 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u7109_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7109_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u7110 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u7112 {
  position:absolute;
  left:0px;
  top:0px;
}
#u7112_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:206px;
  background-image:none;
}
#u7112_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:206px;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:205px;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u7115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:365px;
  height:1px;
}
#u7116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u7117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:151px;
  width:365px;
  height:1px;
}
#u7118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7119 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:118px;
  width:29px;
  height:16px;
}
#u7120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7121 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:118px;
  width:29px;
  height:16px;
}
#u7122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u7123 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:118px;
  width:43px;
  height:16px;
}
#u7124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7125 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:67px;
  width:29px;
  height:16px;
  color:#999999;
}
#u7126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7127 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:67px;
  width:29px;
  height:16px;
  color:#999999;
}
#u7128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7129 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:169px;
  width:29px;
  height:16px;
  color:#999999;
}
#u7130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7131 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:169px;
  width:29px;
  height:16px;
  color:#999999;
}
#u7132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u7133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:365px;
  height:1px;
}
#u7134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u7135 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:19px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u7136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7137 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:19px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u7138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7139 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:19px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u7140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
