body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4261 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u4261_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4261_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u4262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4263 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u4264 {
  position:absolute;
  left:0px;
  top:0px;
}
#u4264_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:206px;
  background-image:none;
}
#u4264_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:206px;
}
#u4265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:205px;
}
#u4266 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u4267 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:100px;
  width:365px;
  height:1px;
}
#u4268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u4269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:151px;
  width:365px;
  height:1px;
}
#u4270 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4271 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:118px;
  width:29px;
  height:16px;
}
#u4272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4273 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:118px;
  width:29px;
  height:16px;
}
#u4274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4275 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:118px;
  width:43px;
  height:16px;
}
#u4276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4277 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:67px;
  width:29px;
  height:16px;
  color:#999999;
}
#u4278 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4279 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:67px;
  width:29px;
  height:16px;
  color:#999999;
}
#u4280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4281 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:169px;
  width:29px;
  height:16px;
  color:#999999;
}
#u4282 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4283 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:169px;
  width:29px;
  height:16px;
  color:#999999;
}
#u4284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:2px;
}
#u4285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:365px;
  height:1px;
}
#u4286 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4287 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:19px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u4288 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4289 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:19px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u4290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4291 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:19px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u4292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
