body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:600px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:375px;
  height:599px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:369px;
  width:57px;
  height:16px;
  color:#666666;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:402px;
  width:319px;
  height:1px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:369px;
  width:127px;
  height:16px;
  text-align:right;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:423px;
  width:57px;
  height:16px;
  color:#666666;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1400_ann {
  border-width:0px;
  position:absolute;
  left:80px;
  top:419px;
  width:1px;
  height:1px;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:456px;
  width:319px;
  height:1px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:423px;
  width:113px;
  height:16px;
  text-align:right;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:476px;
  width:57px;
  height:16px;
  color:#666666;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:509px;
  width:319px;
  height:1px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:17px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:476px;
  width:39px;
  height:16px;
  text-align:right;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:528px;
  width:57px;
  height:16px;
  color:#666666;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:562px;
  width:319px;
  height:1px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:17px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:528px;
  width:45px;
  height:16px;
  text-align:right;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:41px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_ann {
  border-width:0px;
  position:absolute;
  left:8px;
  top:51px;
  width:1px;
  height:1px;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:37px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:272px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:375px;
  height:272px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:128px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:36px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:584px;
  width:319px;
  height:35px;
  color:#FFFFFF;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:315px;
  word-wrap:break-word;
}
