body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:41px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  font-size:28px;
  color:#FFFFFF;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
