body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:38px;
}
#u5097 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:161px;
  width:275px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u5099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:20px;
}
#u5100 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:680px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
.u5103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
}
.u5103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:45px;
}
.u5104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
.u5105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:46px;
}
.u5105 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:0px;
  width:140px;
  height:45px;
}
.u5106 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
.u5107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:46px;
}
.u5107 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:260px;
  height:45px;
}
.u5108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
.u5109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:46px;
}
.u5109 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:0px;
  width:260px;
  height:45px;
}
.u5110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u5102-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:45px;
}
#u5102-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:728px;
  height:45px;
}
#u5102-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:728px;
  height:45px;
}
#u5102 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:759px;
  width:728px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:46px;
}
#u5112 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:714px;
  width:68px;
  height:45px;
  color:#FFFFFF;
}
#u5113 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:64px;
  word-wrap:break-word;
}
#u5114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:46px;
}
#u5114 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:714px;
  width:140px;
  height:45px;
  color:#FFFFFF;
}
#u5115 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u5114_ann {
  border-width:0px;
  position:absolute;
  left:349px;
  top:710px;
  width:1px;
  height:1px;
}
#u5116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:46px;
}
#u5116 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:714px;
  width:260px;
  height:45px;
  color:#FFFFFF;
}
#u5117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u5118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:46px;
}
#u5118 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:714px;
  width:260px;
  height:45px;
  color:#FFFFFF;
}
#u5119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
.u5121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:51px;
}
.u5121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
.u5122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:51px;
}
.u5123 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:450px;
  height:50px;
}
.u5124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5120-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:50px;
}
#u5120-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:600px;
  height:50px;
}
#u5120-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:600px;
  height:50px;
}
#u5120-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:600px;
  height:50px;
}
#u5120-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:600px;
  height:50px;
}
#u5120-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:600px;
  height:50px;
}
#u5120-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:600px;
  height:50px;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:240px;
  width:600px;
  height:350px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5126 {
  position:fixed;
  right:12px;
  bottom:12px;
  width:81px;
  height:81px;
  overflow:hidden;
}
#u5126_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5126_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u5127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u5127_img.selected {
}
#u5127.selected {
}
#u5128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u5129 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:29px;
  width:40px;
  height:23px;
  color:#993300;
}
#u5129_img.selected {
}
#u5129.selected {
}
#u5130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
}
#u5134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:1024px;
  height:80px;
  opacity:0.05;
}
#u5135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5136 {
  position:fixed;
  left:50%;
  margin-left:-512.5px;
  top:0px;
  width:1025px;
  height:81px;
  overflow:hidden;
}
#u5136_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/产品介绍/u5069_state0.jpg');
  background-position:left top;
  background-repeat:repeat-x;
  background-attachment:scroll;
  background-size:2px 80px;
}
#u5136_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:81px;
}
#u5137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:80px;
}
#u5137_img.selected {
}
#u5137.selected {
}
#u5138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:76px;
}
#u5139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:75px;
}
#u5140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5141 {
  position:fixed;
  left:50%;
  margin-left:-512.5px;
  top:0px;
}
#u5141_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
  background-image:none;
}
#u5141_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:81px;
}
#u5142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:80px;
}
#u5142_img.selected {
}
#u5142.selected {
}
#u5143 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1025px;
  height:76px;
}
#u5144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:75px;
}
#u5145 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:76px;
}
#u5146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:75px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5147 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  word-wrap:break-word;
}
#u5148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:51px;
}
#u5149 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:13px;
  width:140px;
  height:50px;
}
#u5150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:136px;
  word-wrap:break-word;
}
#u5151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:51px;
}
#u5151 {
  border-width:0px;
  position:absolute;
  left:1011px;
  top:13px;
  width:13px;
  height:50px;
}
#u5152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
.u5154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:76px;
}
.u5154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
  font-size:16px;
  color:#FFFFFF;
}
.u5154_img.selected {
}
.u5154.selected {
}
.u5155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:121px;
  word-wrap:break-word;
}
#u5153-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:75px;
}
#u5153-2 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:0px;
  width:125px;
  height:75px;
}
#u5153-3 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:0px;
  width:125px;
  height:75px;
}
#u5153-4 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:0px;
  width:125px;
  height:75px;
}
#u5153 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:500px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u5156 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:62px;
  width:31px;
  height:15px;
}
#u5156_img.selected {
}
#u5156.selected {
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5158 {
  position:absolute;
  left:200px;
  top:80px;
  visibility:hidden;
}
#u5158_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:126px;
  height:361px;
  background-image:none;
}
#u5158_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u5160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
.u5160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
  color:#FFFFFF;
}
.u5160_img.mouseOver {
}
.u5160.mouseOver {
}
.u5160_img.selected {
}
.u5160.selected {
}
.u5161 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u5159-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:40px;
}
#u5159-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:125px;
  height:40px;
}
#u5159-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:125px;
  height:40px;
}
#u5159-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:125px;
  height:40px;
}
#u5159-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:125px;
  height:40px;
}
#u5159-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:125px;
  height:40px;
}
#u5159-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:125px;
  height:40px;
}
#u5159-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:125px;
  height:40px;
}
#u5159-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:125px;
  height:40px;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:360px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u5162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:2px;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:669px;
  width:30px;
  height:1px;
  opacity:0.2;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
