body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:599px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:375px;
  height:598px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  word-wrap:break-word;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:532px;
  width:375px;
  height:44px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:442px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:81px;
  width:375px;
  height:441px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:212px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:37px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:40px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:100px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:181px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:219px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:298px;
  width:85px;
  height:16px;
  color:#666666;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:339px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:547px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:98px;
  width:125px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:445px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:126px;
  width:332px;
  height:1px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:207px;
  width:332px;
  height:1px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:287px;
  width:332px;
  height:1px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:324px;
  width:332px;
  height:1px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:434px;
  width:332px;
  height:1px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:298px;
  width:95px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:339px;
  width:35px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:546px;
  width:35px;
  height:16px;
  text-align:right;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:98px;
  width:9px;
  height:16px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:142px;
  width:29px;
  height:16px;
  color:#666666;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:140px;
  width:120px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:168px;
  width:332px;
  height:1px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:181px;
  width:9px;
  height:16px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:181px;
  width:120px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:365px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:365px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:365px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:365px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u4026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:546px;
  width:9px;
  height:16px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:610px;
  width:140px;
  height:31px;
  font-size:12px;
  color:#FFFFFF;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u4028_ann {
  border-width:0px;
  position:absolute;
  left:330px;
  top:606px;
  width:1px;
  height:1px;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:610px;
  width:140px;
  height:31px;
  font-size:12px;
  color:#FFFFFF;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u4030_ann {
  border-width:0px;
  position:absolute;
  left:176px;
  top:606px;
  width:1px;
  height:1px;
}
#u4032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:471px;
  width:103px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u4034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:480px;
  width:17px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:17px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:39px;
  width:33px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0000FF;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4036_ann {
  border-width:0px;
  position:absolute;
  left:358px;
  top:35px;
  width:1px;
  height:1px;
}
#u4039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:475px;
  width:23px;
  height:23px;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u4041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:221px;
  width:9px;
  height:16px;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:221px;
  width:120px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:261px;
  width:43px;
  height:16px;
  color:#666666;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:249px;
  width:332px;
  height:1px;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:256px;
  width:13px;
  height:16px;
  font-size:20px;
  color:#0000FF;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u4051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:42px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:273px;
  width:195px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:191px;
  word-wrap:break-word;
}
#u4054 {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u4054_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4054_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:166px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:83px 38px;
  -ms-transform-origin:83px 38px;
  -moz-transform-origin:83px 38px;
  -webkit-transform-origin:83px 38px;
}
