body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:335px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7876 {
  position:absolute;
  left:0px;
  top:0px;
}
#u7876_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
  background-image:none;
}
#u7876_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:148px;
}
#u7877 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:147px;
}
#u7878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u7879 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:17px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u7880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u7881 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:335px;
  height:1px;
}
#u7882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u7883 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:65px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u7884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u7885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:335px;
  height:1px;
}
#u7886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u7887 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:112px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u7888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u7890 {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u7890_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7890_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u7891 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u7892 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:166px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:83px 38px;
  -ms-transform-origin:83px 38px;
  -moz-transform-origin:83px 38px;
  -webkit-transform-origin:83px 38px;
}
