body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:599px;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:70px;
  width:375px;
  height:598px;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:91px;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:80px;
  width:375px;
  height:90px;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:37px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u6020 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:40px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u6021 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u6022 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:102px;
  width:43px;
  height:16px;
}
#u6023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u6024 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:135px;
  width:162px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u6025 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u6026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u6026 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:135px;
  width:154px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u6027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u6028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:48px;
}
#u6028 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:179px;
  width:375px;
  height:47px;
}
#u6029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u6030 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:196px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u6032 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:197px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u6034 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:225px;
  width:375px;
  height:1px;
}
#u6035 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:5px;
}
#u6036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:155px;
  height:4px;
}
#u6037 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u6038 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:100px;
  width:88px;
  height:16px;
  color:#0000FF;
}
#u6039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u6040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6040 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:100px;
  width:16px;
  height:16px;
}
#u6041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:41px;
}
#u6042 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:565px;
  width:345px;
  height:40px;
}
#u6043 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:314px;
}
#u6044 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:236px;
  width:345px;
  height:313px;
}
#u6045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:148px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:17px;
}
#u6046 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:248px;
  width:4px;
  height:16px;
}
#u6047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u6048 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:247px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u6049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u6050 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:247px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u6051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u6052 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:288px;
  width:57px;
  height:16px;
  color:#666666;
}
#u6053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u6054 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:326px;
  width:43px;
  height:16px;
  color:#666666;
}
#u6055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u6056 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:364px;
  width:57px;
  height:16px;
  color:#666666;
}
#u6057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u6058 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:403px;
  width:85px;
  height:16px;
  color:#666666;
}
#u6059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u6060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u6060 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:484px;
  width:57px;
  height:16px;
  color:#666666;
}
#u6061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u6062 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:577px;
  width:57px;
  height:16px;
  color:#666666;
}
#u6063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u6064 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:522px;
  width:57px;
  height:16px;
  color:#666666;
}
#u6065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u6066 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:313px;
  width:305px;
  height:1px;
}
#u6067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u6068 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:352px;
  width:305px;
  height:1px;
}
#u6069 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u6070 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:392px;
  width:305px;
  height:1px;
}
#u6071 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u6072 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:429px;
  width:305px;
  height:1px;
}
#u6073 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6074_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u6074 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:511px;
  width:305px;
  height:1px;
}
#u6075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:32px;
}
#u6076 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:622px;
  width:115px;
  height:31px;
  font-size:12px;
  color:#FFFFFF;
}
#u6077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u6078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
}
#u6078 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:621px;
  width:125px;
  height:33px;
  color:#999999;
}
#u6079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u6080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u6080 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:324px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u6081 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u6082 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:366px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u6083 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u6084 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:403px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u6085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u6086 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:484px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u6087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u6088 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:577px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u6089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u6090 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:523px;
  width:43px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u6091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u6092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u6092 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:288px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u6093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u6094 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:469px;
  width:305px;
  height:1px;
}
#u6095 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u6096 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:441px;
  width:57px;
  height:16px;
  color:#666666;
}
#u6097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u6098 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:441px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u6099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u6101 {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u6101_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6101_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u6102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6103 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:166px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:83px 38px;
  -ms-transform-origin:83px 38px;
  -moz-transform-origin:83px 38px;
  -webkit-transform-origin:83px 38px;
}
