body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:376px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3981 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u3981_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3981_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:599px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:70px;
  width:375px;
  height:598px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:91px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:80px;
  width:375px;
  height:90px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:37px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:42px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:102px;
  width:43px;
  height:16px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:135px;
  width:162px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  white-space:nowrap;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:135px;
  width:154px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:48px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:179px;
  width:375px;
  height:47px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:196px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:197px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:225px;
  width:375px;
  height:1px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:5px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:155px;
  height:4px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:236px;
  width:346px;
  height:367px;
  overflow:hidden;
}
#u4018_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:367px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4018_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:160px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:159px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:17px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:12px;
  width:4px;
  height:16px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:11px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:11px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:51px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:17px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:51px;
  width:32px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:130px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:77px;
  width:305px;
  height:1px;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:131px;
  width:43px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:91px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:117px;
  width:305px;
  height:1px;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:91px;
  width:43px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:37px;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:345px;
  height:36px;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:181px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:182px;
  width:43px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u4018_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:367px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4018_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4050 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u4050_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:346px;
  height:534px;
  background-image:none;
}
#u4050_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:533px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:532px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:258px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:53px;
  width:319px;
  height:1px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:20px;
  width:57px;
  height:16px;
  text-align:right;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:74px;
  width:43px;
  height:16px;
  color:#666666;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:107px;
  width:319px;
  height:1px;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:74px;
  width:107px;
  height:16px;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:127px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:160px;
  width:319px;
  height:1px;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:127px;
  width:107px;
  height:16px;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:180px;
  width:43px;
  height:16px;
  color:#666666;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u4073 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:213px;
  width:319px;
  height:1px;
}
#u4074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u4075 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:180px;
  width:107px;
  height:16px;
}
#u4076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4077 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:233px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u4079 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:266px;
  width:319px;
  height:1px;
}
#u4080 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
}
#u4081 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:233px;
  width:135px;
  height:16px;
  text-align:right;
}
#u4082 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u4083_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4083 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:287px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4084 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u4085 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:320px;
  width:319px;
  height:1px;
}
#u4086 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4087_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u4087 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:287px;
  width:120px;
  height:16px;
}
#u4088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u4089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4089 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:339px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u4091 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:372px;
  width:319px;
  height:1px;
}
#u4092 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4093_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u4093 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:339px;
  width:43px;
  height:16px;
}
#u4094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u4095 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:393px;
  width:85px;
  height:16px;
  color:#666666;
}
#u4096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u4097 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:426px;
  width:319px;
  height:1px;
}
#u4098 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u4099 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:393px;
  width:107px;
  height:16px;
}
#u4100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u4101 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:446px;
  width:85px;
  height:16px;
  color:#666666;
}
#u4102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u4103 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:479px;
  width:319px;
  height:1px;
}
#u4104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
#u4105 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:446px;
  width:107px;
  height:16px;
}
#u4106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u4107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u4107 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:498px;
  width:57px;
  height:16px;
  color:#666666;
}
#u4108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u4109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:532px;
  width:336px;
  height:1px;
}
#u4110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:17px;
}
#u4111 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:499px;
  width:15px;
  height:16px;
}
#u4112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u4113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:34px;
}
#u4113 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:619px;
  width:125px;
  height:33px;
  color:#999999;
}
#u4114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u4115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:17px;
}
#u4115 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:100px;
  width:88px;
  height:16px;
  color:#0000FF;
}
#u4116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u4117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u4117 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:100px;
  width:16px;
  height:16px;
}
#u4118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4119 {
  position:absolute;
  left:21px;
  top:281px;
  visibility:hidden;
}
#u4119_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:336px;
  height:156px;
  background-image:none;
}
#u4119_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:156px;
}
#u4120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:155px;
}
#u4121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u4122 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:24px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:20px;
}
#u4124 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:58px;
  width:161px;
  height:19px;
  font-size:16px;
}
#u4125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u4126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u4126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:335px;
  height:1px;
}
#u4127 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4128 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:122px;
  width:17px;
  height:19px;
  font-size:16px;
}
#u4129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:122px;
  width:17px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u4132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:2px;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:130px;
  width:48px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:107px;
  width:335px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
