body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2936 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u2936_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2936_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u2937 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2938 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u2940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u2940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2941 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u2942 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u2943 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u2944 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u2945 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u2947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u2948 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:781px;
}
#u2949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:780px;
}
#u2950 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:382px;
  width:371px;
  word-wrap:break-word;
}
#u2951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:653px;
}
#u2951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:375px;
  height:652px;
}
#u2952 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:318px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u2953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:742px;
  width:375px;
  height:44px;
}
#u2954 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u2955 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:38px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u2956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u2957 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:41px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u2958 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2959 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:101px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2961 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:182px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2963 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:220px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2964 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u2965 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:522px;
  width:85px;
  height:16px;
  color:#666666;
}
#u2966 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2967 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:563px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2969 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:757px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
}
#u2971 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:99px;
  width:125px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u2972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u2973 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:669px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:127px;
  width:332px;
  height:1px;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:208px;
  width:332px;
  height:1px;
}
#u2978 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2979 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:548px;
  width:332px;
  height:1px;
}
#u2980 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2981 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:658px;
  width:332px;
  height:1px;
}
#u2982 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:17px;
}
#u2983 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:522px;
  width:95px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u2985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:322px;
  top:563px;
  width:35px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u2986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u2987 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:756px;
  width:35px;
  height:16px;
  text-align:right;
}
#u2988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u2989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u2989 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:99px;
  width:9px;
  height:16px;
}
#u2990 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u2991 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:143px;
  width:29px;
  height:16px;
  color:#666666;
}
#u2992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u2993 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:141px;
  width:120px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u2994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u2995 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:169px;
  width:332px;
  height:1px;
}
#u2996 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u2997 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:182px;
  width:9px;
  height:16px;
}
#u2998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u2999 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:182px;
  width:120px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:589px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u3003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:589px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u3005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:589px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u3007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:589px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u3008 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u3009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u3009 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:756px;
  width:9px;
  height:16px;
}
#u3010 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u3011 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:695px;
  width:103px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u3012 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u3013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u3013 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:704px;
  width:17px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3014 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3016 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:699px;
  width:23px;
  height:23px;
}
#u3017 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u3018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u3018 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:222px;
  width:9px;
  height:16px;
}
#u3019 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u3020 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:222px;
  width:120px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u3021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u3022 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:262px;
  width:43px;
  height:16px;
  color:#666666;
}
#u3023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3024 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:250px;
  width:332px;
  height:1px;
}
#u3025 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u3026 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:257px;
  width:13px;
  height:16px;
  font-size:20px;
  color:#0000FF;
}
#u3027 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u3028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:204px;
}
#u3028 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:293px;
  width:354px;
  height:203px;
}
#u3029 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:94px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u3030 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:350px;
  width:71px;
  height:16px;
  color:#666666;
}
#u3031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u3032 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:431px;
  width:57px;
  height:16px;
  color:#666666;
}
#u3033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u3034 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:469px;
  width:43px;
  height:16px;
  color:#666666;
}
#u3035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:17px;
}
#u3036 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:348px;
  width:125px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u3037 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u3038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3038 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:376px;
  width:332px;
  height:1px;
}
#u3039 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3040 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:457px;
  width:332px;
  height:1px;
}
#u3041 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u3042 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:392px;
  width:71px;
  height:16px;
  color:#666666;
}
#u3043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u3044 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:390px;
  width:120px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u3045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3046 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:418px;
  width:332px;
  height:1px;
}
#u3047 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u3048 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:431px;
  width:120px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u3049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u3050 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:471px;
  width:120px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u3051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3052 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:327px;
  width:332px;
  height:1px;
}
#u3053 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
}
#u3054 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:303px;
  width:51px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u3055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u3056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u3056 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:303px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u3058 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:510px;
  width:332px;
  height:1px;
}
#u3059 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u3060 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:303px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u3061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:36px;
}
#u3062 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:800px;
  width:280px;
  height:35px;
  font-size:12px;
  color:#FFFFFF;
}
#u3063 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u3062_ann {
  border-width:0px;
  position:absolute;
  left:321px;
  top:796px;
  width:1px;
  height:1px;
}
