body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:558px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5809 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u5809_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5809_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u5810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5811 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u5813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u5813 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5814 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u5815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u5816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u5817 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u5818 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u5820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u5821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:587px;
}
#u5822 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:4186px;
  width:375px;
  height:586px;
}
#u5823 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:285px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:71px;
}
#u5824 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:4187px;
  width:375px;
  height:70px;
}
#u5825 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5826_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:0px;
  width:382px;
  height:75px;
}
#u5826 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:4188px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u5827 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:13px;
}
#u5828 {
  border-width:0px;
  position:absolute;
  left:194px;
  top:4195px;
  width:354px;
  height:13px;
}
#u5829 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u5830 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:4223px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u5831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u5832 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:4226px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u5833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5834 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:4225px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u5835 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:383px;
}
#u5836 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:4267px;
  width:375px;
  height:382px;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:183px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u5838 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:4659px;
  width:375px;
  height:44px;
}
#u5839 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5840 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4470px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5842 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:4674px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5844 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4576px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u5846 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4565px;
  width:332px;
  height:1px;
}
#u5847 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u5848 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:4470px;
  width:35px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u5849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u5850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u5850 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:4673px;
  width:35px;
  height:16px;
  text-align:right;
}
#u5851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u5852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5852 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:4496px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u5853 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u5854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5854 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:4496px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u5855 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u5856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5856 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:4496px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u5857 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u5858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u5858 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:4496px;
  width:55px;
  height:55px;
  font-size:20px;
}
#u5859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:51px;
  word-wrap:break-word;
}
#u5860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5860 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:4673px;
  width:9px;
  height:16px;
}
#u5861 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u5862 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4602px;
  width:103px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u5863 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  word-wrap:break-word;
}
#u5864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:13px;
}
#u5864 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:4611px;
  width:17px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5865 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5867 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:4606px;
  width:23px;
  height:23px;
}
#u5868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  word-wrap:break-word;
}
#u5869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u5869 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4457px;
  width:332px;
  height:1px;
}
#u5870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u5871 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4412px;
  width:332px;
  height:1px;
}
#u5872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5873 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4428px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5875 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4382px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u5877 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4316px;
  width:332px;
  height:1px;
}
#u5878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u5879 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4286px;
  width:57px;
  height:16px;
  color:#666666;
}
#u5880 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5881 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:4285px;
  width:9px;
  height:16px;
}
#u5882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:2px;
}
#u5883 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4363px;
  width:332px;
  height:1px;
}
#u5884 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:328px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u5885 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:4333px;
  width:43px;
  height:16px;
  color:#666666;
}
#u5886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5887 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:4381px;
  width:9px;
  height:16px;
}
#u5888 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5889 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:4428px;
  width:9px;
  height:16px;
}
#u5890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u5891 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:4284px;
  width:35px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u5892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u5893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u5893 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:4332px;
  width:35px;
  height:16px;
  color:#000000;
  text-align:right;
}
#u5894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u5895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:17px;
}
#u5895 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:4379px;
  width:35px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u5896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  word-wrap:break-word;
}
#u5897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:17px;
}
#u5897 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:4427px;
  width:47px;
  height:16px;
  color:#BBBBBB;
  text-align:right;
}
#u5898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u5899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u5899 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:4728px;
  width:140px;
  height:31px;
  font-size:12px;
  color:#FFFFFF;
}
#u5900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
}
#u5901 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:4728px;
  width:140px;
  height:31px;
  font-size:12px;
  color:#FFFFFF;
}
#u5902 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u5903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:189px;
}
#u5903 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:4408px;
  width:216px;
  height:188px;
}
#u5904 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:86px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:84px;
}
#u5905 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:4442px;
  width:61px;
  height:84px;
}
#u5906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:48px;
}
#u5907 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:4725px;
  width:375px;
  height:47px;
}
#u5908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:32px;
}
#u5909 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:4733px;
  width:332px;
  height:31px;
  font-size:12px;
  color:#000000;
}
#u5910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:328px;
  word-wrap:break-word;
}
#u5911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:25px;
}
#u5911 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:4548px;
  width:181px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u5912 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u5913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u5913 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:37px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:599px;
}
#u5915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:375px;
  height:598px;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:155px;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:86px;
  width:375px;
  height:154px;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:102px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u5920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u5922 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:41px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u5923 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5922_ann {
  border-width:0px;
  position:absolute;
  left:7px;
  top:51px;
  width:1px;
  height:1px;
}
#u5924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:138px;
  width:340px;
  height:1px;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u5926 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:153px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:23px;
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:102px;
  width:11px;
  height:22px;
  font-size:18px;
  color:#000000;
}
#u5929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u5930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u5930 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:184px;
  width:340px;
  height:1px;
}
#u5931 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u5932 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:201px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u5933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
