body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:375px;
  height:667px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:70px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:23px;
  width:354px;
  height:16px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:55px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:600px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:84px;
  width:375px;
  height:599px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:396px;
  width:303px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:195px;
  width:216px;
  height:41px;
  font-size:12px;
  color:#FFFFFF;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:212px;
  word-wrap:break-word;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:117px;
  width:303px;
  height:40px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1313 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:118px;
  width:293px;
  height:38px;
}
#u1313_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1313_input {
  font-family:'Arial';
}
#u1314 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:340px;
  width:303px;
  height:40px;
}
#u1314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
}
#u1314_input {
  font-family:'Arial';
}
#u1314_input:disabled {
  color:grayText;
}
#u1314_ann {
  border-width:0px;
  position:absolute;
  left:348px;
  top:336px;
  width:1px;
  height:1px;
}
#u1315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:41px;
}
#u1315 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:173px;
  width:124px;
  height:40px;
  font-size:14px;
  color:#666666;
}
#u1315_img.disabled {
}
#u1315.disabled {
}
#u1316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:120px;
  word-wrap:break-word;
}
#u1315_ann {
  border-width:0px;
  position:absolute;
  left:348px;
  top:169px;
  width:1px;
  height:1px;
}
#u1317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:41px;
}
#u1318 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:173px;
  width:167px;
  height:40px;
}
#u1319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:174px;
  width:162px;
  height:38px;
}
#u1320_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1320_input {
  font-family:'Arial';
}
#u1321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:229px;
  width:303px;
  height:40px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:230px;
  width:293px;
  height:38px;
}
#u1324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1324_input {
  font-family:'Arial';
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1326_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:284px;
  width:303px;
  height:40px;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:285px;
  width:293px;
  height:38px;
}
#u1328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1328_input {
  font-family:'Arial';
}
#u1329_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:23px;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:51px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1331_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:463px;
  width:71px;
  height:16px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:489px;
  width:29px;
  height:16px;
  color:#0066FF;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1336 {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u1336_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1336_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1337_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:166px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:83px 38px;
  -ms-transform-origin:83px 38px;
  -moz-transform-origin:83px 38px;
  -webkit-transform-origin:83px 38px;
}
