body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1541px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:40px;
  width:375px;
  height:667px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:437px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:271px;
  width:375px;
  height:436px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:210px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:221px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#1E1E1E;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:91px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:182px;
  top:121px;
  width:91px;
  height:90px;
  color:#FFFFFF;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:37px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:343px;
  width:304px;
  height:95px;
  overflow:hidden;
}
#u1075_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:95px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1075_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
}
#u1076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1076_input {
  font-family:'Arial';
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:303px;
  height:40px;
}
#u1077_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1077_input {
  font-family:'Arial';
}
#u1075_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:95px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1075_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
}
#u1078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1078_input {
  font-family:'Arial';
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:54px;
  width:149px;
  height:40px;
}
#u1079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
}
#u1079_input {
  font-family:'Arial';
}
#u1080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:41px;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:54px;
  width:143px;
  height:40px;
  font-size:12px;
  color:#000000;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:139px;
  word-wrap:break-word;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:470px;
  width:303px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u1082_ann {
  border-width:0px;
  position:absolute;
  left:373px;
  top:466px;
  width:1px;
  height:1px;
}
#u1084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1084 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:288px;
  width:57px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u1084_img.selected {
}
#u1084.selected {
}
#u1085 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:2px;
}
#u1086 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:316px;
  width:273px;
  height:1px;
}
#u1087 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:17px;
}
#u1088 {
  border-width:0px;
  position:absolute;
  left:249px;
  top:288px;
  width:99px;
  height:16px;
  color:#1E1E1E;
  text-align:center;
}
#u1088_img.selected {
}
#u1088.selected {
}
#u1089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1090_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:4px;
}
#u1090 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:314px;
  width:93px;
  height:3px;
}
#u1091 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:42px;
}
#u1092 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:373px;
  width:195px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1093 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:191px;
  word-wrap:break-word;
}
#u1094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1094 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:445px;
  width:57px;
  height:16px;
  color:#0000FF;
  text-align:center;
}
#u1095 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1096_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1096 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:40px;
  width:71px;
  height:16px;
}
#u1097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1098 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1099_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1099 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:237px;
  width:100px;
  height:60px;
}
#u1100 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1101 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:297px;
  width:0px;
  height:0px;
}
#u1101_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:106px;
}
#u1101_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:89px;
  width:18px;
  height:19px;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
}
#u1103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:237px;
  width:100px;
  height:60px;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:886px;
  top:267px;
  width:0px;
  height:0px;
}
#u1105_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:147px;
  height:8px;
}
#u1105_seg1 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:399px;
  width:100px;
  height:60px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:565px;
  width:127px;
  height:44px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  word-wrap:break-word;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:459px;
  width:0px;
  height:0px;
}
#u1111_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:110px;
}
#u1111_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:93px;
  width:18px;
  height:19px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:410px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:431px;
  width:0px;
  height:0px;
}
#u1115_seg0 {
  border-width:0px;
  position:absolute;
  left:-156px;
  top:-4px;
  width:160px;
  height:8px;
}
#u1115_seg1 {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:-128px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:399px;
  width:102px;
  height:16px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:267px;
  width:0px;
  height:0px;
}
#u1119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:131px;
  height:8px;
}
#u1119_seg1 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:237px;
  width:100px;
  height:60px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:359px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:1079px;
  top:297px;
  width:0px;
  height:0px;
}
#u1125_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u1125_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:49px;
  width:18px;
  height:19px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:410px;
  width:102px;
  height:16px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:45px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:308px;
  width:89px;
  height:44px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:85px;
  word-wrap:break-word;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:267px;
  width:0px;
  height:0px;
}
#u1131_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:112px;
  height:8px;
}
#u1131_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:385px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:17px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:436px;
  width:102px;
  height:16px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:297px;
  width:0px;
  height:0px;
}
#u1137_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:92px;
}
#u1137_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:75px;
  width:18px;
  height:19px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:95px;
  width:127px;
  height:44px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  word-wrap:break-word;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:139px;
  width:0px;
  height:0px;
}
#u1141_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:102px;
}
#u1141_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:85px;
  width:18px;
  height:19px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:57px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:913px;
  top:89px;
  width:295px;
  height:56px;
  font-size:14px;
  line-height:28px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:61px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:732px;
  width:147px;
  height:60px;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:143px;
  word-wrap:break-word;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:61px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:732px;
  width:147px;
  height:60px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:143px;
  word-wrap:break-word;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:762px;
  width:0px;
  height:0px;
}
#u1149_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:125px;
  height:8px;
}
#u1149_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1149_seg2 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:41px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:836px;
  width:249px;
  height:40px;
  line-height:20px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:525px;
  width:85px;
  height:16px;
  text-align:center;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:551px;
  width:57px;
  height:16px;
  color:#0066FF;
  text-align:center;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1158 {
  position:fixed;
  right:0px;
  top:0px;
  width:121px;
  height:121px;
  overflow:hidden;
}
#u1158_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1158_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:22px;
  width:166px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:83px 38px;
  -ms-transform-origin:83px 38px;
  -moz-transform-origin:83px 38px;
  -webkit-transform-origin:83px 38px;
}
