body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1250px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1341 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u1341_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1341_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u1345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:589px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:87px;
  width:375px;
  height:588px;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:286px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:375px;
  height:40px;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:47px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#0000FF;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:38px;
  width:263px;
  height:38px;
}
#u1360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#A1A1A1;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1360_input {
  font-family:'Arial';
}
#u1361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:199px;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:476px;
  width:375px;
  height:199px;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:20px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:101px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
.u1366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:17px;
}
.u1366 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:15px;
  width:107px;
  height:16px;
}
.u1367 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
.u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
.u1368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:375px;
  height:1px;
}
.u1369 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
}
.u1371 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:25px;
  width:19px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
.u1372 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
.u1373 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:15px;
  width:1px;
  height:20px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
.u1374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1375 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:15px;
  width:20px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1365-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u1365-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:375px;
  height:49px;
}
#u1365-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:98px;
  width:375px;
  height:49px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:375px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:375px;
  height:1px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:25px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:45px;
  width:15px;
  height:24px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u1380_img.mouseDown {
}
#u1380.mouseDown {
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:4px;
  width:21px;
  visibility:hidden;
  -webkit-transform:rotate(30deg);
  -moz-transform:rotate(30deg);
  -ms-transform:rotate(30deg);
  transform:rotate(30deg);
  word-wrap:break-word;
  transform-origin:10.5px 8px;
  -ms-transform-origin:10.5px 8px;
  -moz-transform-origin:10.5px 8px;
  -webkit-transform-origin:10.5px 8px;
}
#u1380_ann {
  border-width:0px;
  position:absolute;
  left:24px;
  top:50px;
  width:1px;
  height:1px;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:38px;
  width:1px;
  height:38px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:39px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:38px;
  width:1px;
  height:38px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:22px;
  width:71px;
  height:16px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:60px;
  width:100px;
  height:60px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:230px;
  width:100px;
  height:60px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:400px;
  width:100px;
  height:60px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:120px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1394_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:114px;
}
#u1394_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:97px;
  width:18px;
  height:19px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:290px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1396_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:114px;
}
#u1396_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:97px;
  width:18px;
  height:19px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:230px;
  width:100px;
  height:60px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:230px;
  width:100px;
  height:60px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:230px;
  width:100px;
  height:60px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:260px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1404_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u1404_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:260px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1406_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u1406_seg1 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:260px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1408_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u1408_seg1 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:400px;
  width:100px;
  height:60px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:400px;
  width:100px;
  height:60px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:400px;
  width:100px;
  height:60px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:693px;
  top:290px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1416_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:114px;
}
#u1416_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:97px;
  width:18px;
  height:19px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:290px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1418_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:114px;
}
#u1418_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:97px;
  width:18px;
  height:19px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:290px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1420_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:114px;
}
#u1420_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:97px;
  width:18px;
  height:19px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:230px;
  width:100px;
  height:60px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:260px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1424_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u1424_seg1 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
