body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:375px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5232 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u5232_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u5233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u5234 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u5236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u5236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u5238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u5239 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u5240 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u5241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u5243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u5244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:531px;
}
#u5245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:137px;
  width:375px;
  height:530px;
}
#u5246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:257px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:46px;
}
#u5247 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:375px;
  height:45px;
}
#u5248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u5249 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:39px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u5250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u5251 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:42px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u5252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u5253 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:98px;
  width:57px;
  height:18px;
  color:#0000FF;
}
#u5254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u5255 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:99px;
  width:57px;
  height:18px;
}
#u5256 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u5257 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:99px;
  width:57px;
  height:18px;
}
#u5258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u5259 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:99px;
  width:57px;
  height:18px;
}
#u5260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u5261 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:99px;
  width:15px;
  height:18px;
}
#u5262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u5263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:7px;
}
#u5263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:93px;
  height:6px;
}
#u5264 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u5265 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:41px;
  width:29px;
  height:16px;
  color:#0000FF;
}
#u5266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5265_ann {
  border-width:0px;
  position:absolute;
  left:355px;
  top:37px;
  width:1px;
  height:1px;
}
#u5267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u5267 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:42px;
  width:11px;
  height:14px;
}
#u5268 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5267_ann {
  border-width:0px;
  position:absolute;
  left:321px;
  top:38px;
  width:1px;
  height:1px;
}
#u5269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:43px;
}
#u5269 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:148px;
  width:335px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:22px;
}
#u5270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u5271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u5271 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:223px;
  width:333px;
  height:1px;
}
#u5272 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u5273 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:197px;
  width:127px;
  height:16px;
  color:#999999;
}
#u5274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u5275 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:197px;
  width:75px;
  height:16px;
  color:#999999;
}
#u5276 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u5277 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:149px;
  width:33px;
  height:19px;
  font-size:12px;
}
#u5278 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u5279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:43px;
}
#u5279 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:236px;
  width:335px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:22px;
}
#u5280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  white-space:nowrap;
}
#u5281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u5281 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:311px;
  width:333px;
  height:1px;
}
#u5282 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u5283 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:285px;
  width:127px;
  height:16px;
  color:#999999;
}
#u5284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u5285 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:285px;
  width:75px;
  height:16px;
  color:#999999;
}
#u5286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u5287 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:237px;
  width:33px;
  height:19px;
  font-size:12px;
}
#u5288 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u5289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:43px;
}
#u5289 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:323px;
  width:349px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#999999;
  line-height:22px;
}
#u5290 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  white-space:nowrap;
}
#u5291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:2px;
}
#u5291 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:398px;
  width:333px;
  height:1px;
}
#u5292 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u5293 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:372px;
  width:127px;
  height:16px;
  color:#999999;
}
#u5294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u5295 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:372px;
  width:75px;
  height:16px;
  color:#999999;
}
#u5296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:20px;
}
#u5297 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:324px;
  width:33px;
  height:19px;
  font-size:12px;
}
#u5298 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u5299 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:137px;
  width:375px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:223px;
  width:375px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5301 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:311px;
  width:375px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
