body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:836px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6215 {
  position:fixed;
  right:0px;
  top:0px;
  width:101px;
  height:101px;
  overflow:hidden;
}
#u6215_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6215_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u6216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  font-family:'新宋体 常规', '新宋体';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6217 {
  border-width:0px;
  position:absolute;
  left:-19px;
  top:20px;
  width:137px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:69px 30px;
  -ms-transform-origin:69px 30px;
  -moz-transform-origin:69px 30px;
  -webkit-transform-origin:69px 30px;
}
#u6219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u6219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u6220 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:69px;
}
#u6221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
  opacity:0.2;
}
#u6222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:16px;
}
#u6223 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:7px;
  width:354px;
  height:16px;
}
#u6224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:40px;
}
#u6226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:375px;
  height:39px;
}
#u6227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u6228 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:37px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u6229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:599px;
}
#u6230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:375px;
  height:598px;
}
#u6231 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:291px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u6232 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:179px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u6233 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u6234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:53px;
}
#u6234 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:50px;
  width:180px;
  height:52px;
}
#u6235 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:176px;
  word-wrap:break-word;
}
#u6236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:79px;
}
#u6236 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:160px;
  width:174px;
  height:78px;
}
#u6237 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:170px;
  word-wrap:break-word;
}
#u6238 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:102px;
  width:0px;
  height:0px;
}
#u6238_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:62px;
}
#u6238_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:45px;
  width:18px;
  height:19px;
}
#u6239 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u6240 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:309px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u6241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u6242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:42px;
}
#u6242 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:178px;
  width:147px;
  height:41px;
  font-size:14px;
  color:#FFFFFF;
}
#u6243 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:143px;
  word-wrap:break-word;
}
#u6244 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:199px;
  width:0px;
  height:0px;
}
#u6244_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u6244_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-9px;
  width:19px;
  height:18px;
}
#u6245 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u6246 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:238px;
  width:0px;
  height:0px;
}
#u6246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u6246_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:58px;
  width:18px;
  height:19px;
}
#u6247 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u6249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:14px;
}
#u6249 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:41px;
  width:11px;
  height:14px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:28px;
}
#u6250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6249_ann {
  border-width:0px;
  position:absolute;
  left:7px;
  top:51px;
  width:1px;
  height:1px;
}
#u6251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:41px;
}
#u6251 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:333px;
  width:303px;
  height:40px;
  font-size:14px;
  color:#FFFFFF;
}
#u6251_img.disabled {
}
#u6251.disabled {
}
#u6252 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:299px;
  word-wrap:break-word;
}
#u6251_ann {
  border-width:0px;
  position:absolute;
  left:332px;
  top:329px;
  width:1px;
  height:1px;
}
#u6253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:251px;
}
#u6253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:375px;
  height:250px;
}
#u6254 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:117px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6255 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:80px;
  width:360px;
  height:239px;
}
#u6255_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:239px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6255_input {
  font-family:'Arial';
}
